# Binaries for programs and plugins
/bin
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go Workspaces
go.work
go.work.sum

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Others
*.swp
.releases
coverage.txt
output
vendor
.idea
.envrc
