# Binaries for programs and plugins
/bin
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Others
*.swp
.travis-releases
coverage.txt
vendor
output
.idea
