name: CI

on:
  push:
    tags-ignore:
    - 'v*'
    branches:
    - "**"
  pull_request:
  schedule:
    - cron: '0 0 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    uses: smallstep/workflows/.github/workflows/goCI.yml@main
    with:
      os-dependencies: "libpcsclite-dev"
