name: labeler
on:
  pull_request:
    branches:
      - master

jobs:
  label:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/labeler@v3
      with:
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
        configuration-path: .github/needs-triage-labeler.yml
